.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 1rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin_btn {
  margin: 0 1rem;
}
