.signup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.signup {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.title,
.input {
  margin-bottom: 1rem;
}

.submit_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin: 0 1rem;
}
